form{
    font-size: 18px;
}
form input{
    margin-left: 10px;
    border: none;
    border: 1px solid rgb(59,172,134);
    border-radius: 5px;
    height: 20px;
}

form select{
    margin-left: 10px;
    border: none;
    border: 1px solid rgb(59,172,134);
    border-radius: 5px;
    height: 30px;
    width: 150px;
}

.submit_button{
    height: 50px;
    width: 150px;
    color: white;
    border: 1px solid white;
    background-color: rgb(59,172,134);
    border-radius: 10px;
    cursor: pointer;
}